[branch]
  autosetuprebase = always
[color]
  ui = true
[push]
  default = current
[credential]
  helper = osxkeychain
[user]
  email = morgan.sadr@gmail.com
  name = Morgan Sadr-Hashemi
[alias]
  a = add
  aa = add -A
  b = blame
  br = branch
  c = commit
  caa = commit -a --amend -C HEAD
  cl = clean -fd
  co = checkout
  d = diff
  dc = diff --cached
  l = log --graph --decorate --pretty=\"tformat:%C(green)%h%C(reset) %C(yellow)%ar%C(reset) %C(bold blue)%an%C(reset) %C(bold red)%d%C(reset) %s\"
  p = push
  pf = push -f --force-with-lease
  st = status -sb
[core]
  pager = diff-so-fancy | less --tabs=4 -RFX
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 227
  frag = magenta bold
  commit = 227 bold
  old = red bold
  new = green bold
  whitespace = red reverse
[rerere]
  enabled = true
[merge]
  conflictstyle = diff3
